:root {
    --primary-color: #F21534;
    --secondary-color: #A52A2A;
    --white-color: #FFFFFF;
    --accent-faded : #a52a2a1f;
    --title-font: "Raleway", serif;
    --text-font: "Roboto", serif;
}

/* NAVIGATION */
header{
    background-color: var(--secondary-color);
    color: var(--white-color);
    padding: 1rem 1rem 0 1rem;
    text-align: center;
    max-width: 100%;
    border-bottom: solid var(--white-color) 1px;
}

.nav {
	flex-direction: column;
	justify-content: space-evenly;
	background-color: var(--background-color);
	max-width: 700px;
	margin: 1rem auto;
    border-top: 1px solid ;
}

.nav ul{
    list-style: none;
    padding-left: 0;
}

.nav a {
	display: none;
	padding: 1rem;
	text-align: center;
	text-decoration: none;
	color: var(--white-color);
    font-family: var(--text-font);
    font-weight: bold;
	font-size: large;
}
.nav a:hover {
	background-color: var(--primary-color);
	color: var(--background-color);
}

h1{
    font-family: var(--title-font);
    /* margin: 0; */
}

.title img{
    width: 8rem;
}

#menu {
	font-size: 1.75rem;
	border: 0;
	background: none;
	color: var(--white-color);
 	position: absolute;
	top: 1rem;
	right: 1rem;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "x";
}

.open a {
	display: block;
}

/* THE CONTENT OF THE PAGE */

main { 
	max-width: 1900px;
	margin: 0 auto;
}

div{
    display: block;
    text-align: center;
}


h2{
    color: var(--primary-color);
    font-family: var(--title-font);
}

p{
    font-family: var(--text-font);
}

.position {
    position: relative;
}

.hero img {
    width: 100%;
    height: auto;
    border-bottom: var(--secondary-color) solid 15px;
}

.phrase {
    position: absolute;
    background-color: #ffffffd3;
    border-radius: 10%;
    width: 100%;
}

.phrase p{
    font-family: var(--title-font);
    color: var(--secondary-color);
    font-style: italic;
    font-weight: bold;
}

.banter{
    bottom: 13rem;
    font-size: x-large;
}

.banter-products{
    bottom: 3rem;
    font-size: medium;
}

.banter-products p{
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 10px;
}

.general-products{
    align-items: center;
}

.general-products img {
    width: 70%;
    max-width: 300px;
    height: auto;
    border-radius: 50%;
    border: 5px solid var(--accent-faded);
}

.general-products p{
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--accent-faded);
    text-align: justify;
}

.about-bakery{
    background-color: var(--accent-faded);
    padding-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 10%;
    max-width: 1300px;
    text-align: center;
}

.about-bakery h2{
    padding-top: 2rem;
    color: var(--secondary-color)
}

.about-bakery img{
    width: 70%;
    max-width: 500px;
    height: auto;
    border-radius: 10%;
}

.contact img{
    width: 40px;
    grid-column: 1;
}

.contact{
    padding-left: 1rem;
    padding-right: 1rem;
    display: grid;
    grid-template-columns: 40px 160px auto;
    justify-content: center;
    padding-bottom: 1rem;
}

.contact p{
    grid-column: 2;
}

.first{
    grid-column: 3;
    grid-row: 1/3;
    max-height: 20px;
    justify-content: center;
    margin-top: 1.5rem;
}

.button-main{
    font-family: var(--title-font);
    color: var(--white-color);
    background-color: var(--secondary-color);
    padding: 1rem;
    border-radius: 15%;
    text-decoration: none;
}

/* FOOTER OF THE PAGE */
footer{
    background-color: var(--secondary-color);
    padding: 1rem;
}

footer p{
    color: var(--white-color);
    text-align: center;
    font-weight: bold;
}

.sin-pad{
    margin-bottom: 0;
}

.icon{
    text-align: center;
}

.icon img{
    width: 40px;
    text-decoration: none;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
}


/* THE CAROUSEL OF THE PRODUCTS PAGE */
.product-section{
    padding-top: 1rem;
    padding-bottom: 2rem;
    border-bottom: var(--accent-faded) 2px solid;
}

.product-section p{
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    text-align: justify;
}

.product-section a{
    margin-bottom: 1rem;
}

.carousel{
    width: 300px;
    height: 300px;
    position: relative;
    overflow: hidden;
    display: inline-block;
    margin-top: 1rem;
}

.carousel img{
    width: 96%;
    height: auto;
    object-fit: cover;
    display: block;
    border-radius: 50%;
    border: var(--accent-faded) 6px solid;
}

.carousel button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: var(--secondary-color);
    border-radius: 100%;
    color: white;
    border: none;
    /* padding: 5px; */
    cursor: pointer;
    font-size: 22px;
}
.prev { 
    left: 10px; }

.next { 
    right: 10px; }



    
/* CONTENT OF THE CONTACT PAGE */
.contact-form{
    display: block;
    justify-items: center;
}

form{
    border: 1px solid var(--accent-faded);
    border-radius: 7%;
    /* padding: 0 1rem 0 1rem; */
    padding: 2rem;
    margin: 1rem;
    width: 80%;
    max-width: 400px;
    background-color: var(--accent-faded);
}

.f1 label{
    display: block;
    padding-top: 1rem;
    color: var(--secondary-color);
    font-size: medium;
    font-weight: bold;
    font-family: var(--title-font);
    text-align: start;
}

.f1 input[type="text"], .f1 input[type="email"],
.f1 input[type="date"], .f1 input[type="tel"],
.f1 select, .f1 textarea
{
    background-color: var(--white-color);
    display: block;
    border: solid 1px var(--accent2-color);
    border-radius: 6px;
    padding: 0.75rem 0 0.75rem 0;
    color: #555;
    width: 100%;
    box-sizing: border-box;
    /* max-width: 390px; */
    appearance: none;
    font-family: var(--text-font);
    padding-left: 0.5rem;
}

.f1 input[type="radio"],
.f1 input[type="checkbox"]
{
    margin-right: 6px;
}

.f1 input[type="submit"]{
    border: none;
    background-color: var(--secondary-color);
    color: #fff;
    border-radius: 6px;
    padding: 0.8rem;
    width: 96%;
    max-width: 400px;
    margin: 1rem 2% 2rem 2%;
    box-shadow: 1px 1px 4px #999;
}

.f1 input:required{
    border-right: solid 8px red;
}

.f1 input:required:valid{
    border-right: solid 8px green;
}

.review {
    display: block;
    justify-items: center;
}

.review h2{
    padding-top: 1rem;
}

.review p{
    padding: 3rem;
    font-size: larger;
}

/* MESSAGE PAGE */
.message-page{
    padding-bottom: 3rem;
}

.message-page h1{
    padding-top: 2rem;
    padding-bottom: 2rem;
    color: var(--primary-color);
}

.message-page p{
    font-size: large;
    padding-left: 1rem;
    padding-right: 1rem;
}

.info-message p{
    font-size: large;
}

.social-message{
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.social-message a{
    max-width: 200px;
    min-width: 100px;
}

.contact-contact{
    margin-top: 1rem;
    padding-top: 1rem;
    border-top: var(--accent-faded) 1px solid;
    padding-bottom: 2rem;
}

.irresistible-info{
    padding-top: 1rem;
}

.section-visits{
    background-color: var(--accent-faded);
    padding: 1rem;
    margin-bottom: 4rem;
    font-size: medium;
    font-weight: bold;
}