:root {
    --primary-color: hsl(30, 100%, 62%);
    --secondary-color: rgb(24, 24, 105);
    --accent1-color: #FFFFFF;
    --background-color: #37392D;
    --accent3-color: #ccc;
}

body {
    font-family: "Roboto", sans-serif;
}

header{
    display: block;
    background-color: var(--background-color);
    padding-top: 0.3rem;
}

h1 {
    text-align: left;
    color: var(--accent1-color);
	font-size: 1.5rem;
	margin-left: 1rem;
    margin-right: 2rem;
}

nav {
	flex-direction: column;
	justify-content: space-evenly;
	background-color: var(--background-color);
	color: #fff;
	max-width: 700px;
	margin: 1rem auto;
    border-top: 1px solid ;
}

nav ul{
    list-style: none;
    padding-left: 0;
}

nav a {
	display: none;
	padding: 1rem;
	text-align: center;
	text-decoration: none;
	color: #fff;
	font-size: larger;
}
nav a:hover {
	background-color: var(--primary-color);
	color: var(--background-color);
}

#menu {
	font-size: 1.75rem;
	border: 0;
	background: none;
	color: #fff;
 	position: absolute;
	top: 1rem;
	right: 1rem;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "x";
}

.open a {
	display: block;
}

main { 
	max-width: 1200px;
	margin: 0 auto;
}

.container {
	display:grid; 
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr)); 
	grid-gap: 0.5rem;
	place-items: center;
	padding-bottom: 2rem;
	
}

section {
	background-color: #ececec;
	text-align: center;
	border:1px solid #c4c4d3de;
	padding: 0.5rem;
}

.label {
	color: var(--background-color);
	font-weight: 800;
}

h2 {
    color: var(--background-color);
    font-size: 1.5rem;
    text-align: center;
}

img { 
	height: auto; 
	margin: 0.5rem;
}

figcaption {
    color: var(--accent2-color);
    font-weight: 400;
    text-align: center;
    padding-top: 1rem;
}

footer {
    background-color: var(--background-color);
    align-content: center;
}

footer p {
    color: var(--accent1-color);
    padding-top: 1%;
    text-align: center;
}
